@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}
input:focus + .error-input {
  display: none;
}

.quill {
  @apply border border-strock rounded-xl py-4 px-6;
  .ql-toolbar.ql-snow {
    border: none;
    @apply bg-text4 ml-[276px] text-center bg-opacity-10 py-3 px-5 inline-block rounded-xl font-primary;
  }
  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none font-primary text-sm py-4;
  }
  .ql-editor.ql-blank::before {
    @apply text-sm not-italic text-text4;
  }
}
